#include "target_timer.h"

#ifdef USE_SYSTICK_AS_TIMETICK
INCLUDE("core_timer.cfg");
#else /* !USE_SYSTICK_AS_TIMETICK */
#ifdef USE_TIM_AS_HRT
    ATT_INI({ TA_NULL, 0, target_hrt_initialize });
    ATT_TER({ TA_NULL, 0, target_hrt_terminate });
#endif /* USE_TIM_AS_HRT */
#endif /* USE_SYSTICK_AS_TIMETICK */
